<!DOCTYPE html>
<html>
    <head>
        <title>
            Task no 7
        </title>
        <style>
            body
                 {
                    background: url("heic0506a.jpg");
                    background-size: cover;
                 }

            h1
                  {
                    font-family: 'Times New Roman';
                    color: rgb(255, 255, 255);
                  } 
                  
            p
            
                  {
                    font-family: 'Times New Roman';
                    color: rgb(255, 255, 255);
                  }
        </style>
    </head>
    <body>
        <h1>
            Hello World
        </h1>

        <p>
            This page has an image as background
        </p>
    </body>
</html>
